body {
    background-image: url('https://wolf.ihome/images/paper.jpeg');
}

.container {
    margin: 20px;
}

textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.stats {
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 4px solid #caced1;
    width: 25%;
    height: 20%;
}

.downloads {
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 4px solid #caced1;
    width: 50%;
    height: 20%;
}


.controls {
    margin-bottom: 20px;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

<!-- .custom-select {
    min-width: 150px;
} -->

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    <!-- padding: 0.675em 6em 0.675em 1em; -->
    background-color: #e7e7e7;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}


.button {
    background-color: gray;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #008CBA;
}

/* Blue */
.button3 {
    background-color: #f44336;
}

/* Red */
.button4 {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.button5 {
    background-color: #555555;
}


h1,
h2,
h3 {
    color: gray;
}